*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 1fr;
    display: grid;
    grid-template:
        'top top'
        'header main'
        'footer main'
        /240px auto;
    overflow-x: hidden;
    background-color: black;
}

#top-menu {
    width: 100vw;
    height: 40px;
    background-color: rgb(236, 226, 186);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: top;
}

#top-menu p {
    font-size: 15px;
    position: relative;
    font-family: serif;
    letter-spacing: 2px;
}

#top-menu span {
    position: absolute;
    top: 0;
    right: -40px;
}

header {
    grid-area: header;
    background-color: black;
    width: 240px;
    position: sticky
}

header ul {
    list-style: none;
    padding: 0;
}

#logo {
    width: 210px;
    height: 190px;
    object-fit: cover;
}

header li {
    margin-bottom: 30px;
    padding: 0 20px;
}

header dl {
    font-family: serif;
    font-size: 14px;
    font-weight: lighter;
}

header dt {
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
}

header dd {
    color: white;
    margin-bottom: 13px;
    letter-spacing: 1px;
}

main {
    width: auto;
    margin-left: 0;
}

#top-news {
    background-color: black;
    border-left: solid 1px red;
}

#content-info {
    background-image: url(img.07.jpeg);
    background-repeat: repeat;
}

h2 {
    padding: 15px 0 15px 20px;
    font-size: 13px;
    border-bottom: solid 1px red;
    font-family: serif;
    font-weight: lighter;
    color: white;
}

#upper-contents {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pic-box {
    overflow: hidden;
    margin: 20px;
}

.pic-box img {
    transition: transform 0.2s;
}

.pic-box:hover img {
    transform: scale(1.05);
    transition: transform 0.2s;
}


#katanakaji,
#yuukaku,
#sub-katanakaji,
#orchestra {
    width: calc(100% / 2);
    text-align: center;
    border-left: solid 1px red;
}

h3 {
    color: white;
    text-align: center;
    font-size: 23px;
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0px;
}

h3 span {
    font-size: 40px;
}

h4 {
    color: white;
    text-align: center;
    font-size: 23px;
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 2px;
    padding-left: 10px;
}

.deco {
    width: 310px;
    margin: 10px auto 0;
    border: solid 0.5px white;
    display: flex;
    justify-content: space-between;
}

.deco span {
    background-color: white;
    display: inline-block;
    color: black;
    margin: 0 0 0 auto;
    width: 250px;
}

#yuukaku h4:nth-of-type(2) {
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: -20px;
}

#yuukaku .white-back {
    font-size: unset;
    color: black;
    background-color: white;
    padding: 2px 3px;
}

#yuukaku .caption h3:last-of-type {
    color: red;
    position: relative;
    top: -20px;
    padding-bottom: -20px;
}

.caption {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.462);
    margin: 0 20px 20px;
}

#middle-contents {
    display: flex;
    justify-content: space-around;
    border-top: solid 1px red;
    height: 222px;
}

#sub-katanakaji {
    position: relative;
    padding: 10px 0;
}

h5 {
    font-size: 37px;
    color: white;
    font-family: serif;
    letter-spacing: 16px;
    font-weight: bold;
    position: absolute;
    top: 37%;
    left: 41%;
    writing-mode: vertical-lr;
}

.cover {
    background-color: #00000094;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.black {
    position: absolute;
    content: "";
    background-color: black;
    width: 50px;
    height: 50px;
    z-index: 0;
    transform: rotate(45deg);
}

.up {
    top: 74px;
    left: 250px;
}

.bottom {
    top: 129px;
    left: 250px;
}


#orchestra {
    display: flex;
    padding: 20px;
}

#orchestra img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 180px;
    height: 180px;
}

#orchestra div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#orchestra h3 {
    margin-bottom: 60px;
    color: rgb(226, 218, 193);
}

#orchestra h4 {
    font-size: 20px;
    color: rgb(226, 218, 193);
}

#orchestra div {
    background-color: rgba(0, 0, 0, 0.515);
}

.orch-info {
    font-size: 15px !important;
    letter-spacing: 2px;
    background-color: rgb(54, 2, 2);
    width: 100%;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
}

#orchestra h4 span {
    font-size: 20px;
}

#jougen-shuketsu {
    border-left: solid 1px red;
    border-top: solid 1px red;
    padding-bottom: 20px;
}

.pic-box-last {
    overflow: hidden;
    margin: 20px;
}

.pic-box-last img {
    transition: transform 0.2s;
}

.pic-box-last:hover img {
    transform: scale(1.05);
    transition: transform 0.2s;
}

#jougen-shuketsu img {
    width: 1160px;
}

footer {
    grid-area: footer;
}

small {
    font-size: 11px;
    color: gray;
    font-family: sans-serif;
}